In [22]:
from genorm import m_measure, genorm
import pandas as pd
import numpy as np

In [28]:
counts = pd.DataFrame(
    np.random.randint(1, 10, size=(20, 10)),
    columns=[f'gene_{s}' for s in 'abcdefghij'],
    index=[f'sample_{i}' for i in range(20)],
)

In [29]:
counts

,gene_a,gene_b,gene_c,gene_d,gene_e,gene_f,gene_g,gene_h,gene_i,gene_j
sample_0,9,7,9,2,1,3,2,4,6,4
sample_1,1,5,5,8,5,7,3,5,5,5
sample_2,8,6,9,6,9,8,5,7,5,9
sample_3,1,2,1,8,6,2,4,1,3,9
sample_4,4,8,1,8,2,1,9,4,7,1
sample_5,2,7,8,6,4,6,2,6,6,8
sample_6,5,8,1,3,6,4,9,9,5,1
sample_7,4,4,6,6,2,9,3,8,1,2
sample_8,9,1,6,1,5,6,8,2,3,5
sample_9,9,7,7,9,2,4,5,9,9,6
sample_10,8,7,5,5,2,7,3,1,5,8
sample_11,1,4,6,8,8,7,8,1,9,3
sample_12,1,2,1,1,6,1,6,3,9,2
sample_13,7,2,2,7,4,6,8,5,9,8
sample_14,5,6,2,6,4,5,2,6,6,9
sample_15,6,4,5,2,3,9,2,5,1,8
sample_16,2,2,3,3,3,9,7,3,2,6
sample_17,4,4,3,4,5,5,5,9,9,1
sample_18,6,1,6,4,2,3,4,1,9,8
sample_19,9,5,6,9,4,5,6,1,7,4

In [30]:
# Compute `M` value for this set of control genes.
m_measure(counts)

gene_a    1.459592
gene_b    1.301571
gene_c    1.378701
gene_d    1.311778
gene_e    1.301971
gene_f    1.256638
gene_g    1.318685
gene_h    1.497519
gene_i    1.384930
gene_j    1.455640
dtype: float64

In [35]:

# Select top 2 control genes with lowest `M`.
gene_names, m_values = genorm(counts, n_stop=5)

In [36]:
gene_names

['gene_b', 'gene_d', 'gene_e', 'gene_g', 'gene_i']

In [37]:
m_values

gene_b    1.241758
gene_d    1.173877
gene_e    1.146166
gene_g    1.121994
gene_i    1.166073
dtype: float64